.position-relative-move {
  position: absolute !important;
  right: 55px;
  top: 23px;
  color: white;
}

.fl-rg {
  float: right;
}

.icon-arrow {
  padding-left: 5px;
  width: 15px;
  height: 15px;
}
